<div class="grid12">

<ul class="event-list">
{{#each model.legs as |leg|}}
 <li {{action 'legClicked' leg.id}}>
  {{#link-to 'leg' leg.id}}
  {{leg.id}} 
  {{/link-to}}
  <div class="pull-right">
    <span class="mute">{{leg.categories}}</span>
    <span class="badge">{{leg.runners.length}}</span> 
  </div>
 </li>
{{/each}}
</ul>

</div>