<div class="grid12">

<ul class="event-list">
{{#each legs}}
 <li {{action 'legClicked' id}}>
  {{#link-to 'leg' id}}
  {{id}} 
  {{/link-to}}
  <div class="pull-right">
    <span class="mute">{{categories}}</span>
    <span class="badge">{{runners}}</span> 
  </div>
 </li>
{{/each}}
</ul>

</div>