body, td, input {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border: 0;
}

.ranking-table {
  width: 100%;
}

tr:hover {
  background-color: rgba(174,167,141,0.5);
}

a {
  color: darkorange;
}

.splits-table {
  width: 50%;
}

.splits-table tr {
  border-top: 1px solid #ffbf80;
}

.splits-table tr:first-of-type {
  border-top: none;
}

.splits-table td {
  padding: 5px;
}

.splits-list {
  margin: 5px;
  padding: 0px 5px 5px 5px;
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  width: 300px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

ul.breadcrumbs {
  margin: 0px;
  padding: 0px;
}

ul.breadcrumbs li {
  list-style: none;
  display: inline-block;
}

ul.breadcrumbs li:before {
  content: "/";
}

ul.breadcrumbs li:first-of-type:before {
  display: none;
}

ul.breadcrumbs li.active a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

h4 {
  margin-top: 3px;
  margin-bottom: 15px;
}

h4 a {
  font-weight: 300;
  padding-left: 40px;
}

.ranking-list {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.ranking-list tr.active {
  background-color: #fdd;
}

.vgrid {
  shape-rendering: crispEdges;
}

.hgrid {
  shape-rendering: crispEdges;
}

.grid {
  shape-rendering: crispEdges;
}

.crisp {
  shape-rendering: crispEdges;
}

text {
  fill: black;
  font-size: 10px;
}

.h2h-graph text {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.split-graph text {
  text-anchor: end;
}

text.leg {
  text-anchor: end;
}

rect.leg:nth-child(odd) {
  fill: rgba(174,167,141,0.3);
}

rect.leg:nth-child(even) {
  fill: rgba(174,167,141,0.2);
}

rect.leg:hover {
  fill: rgba(174,167,141,0.4);
}

text.statusline {
  text-anchor: start;
  font-size: 14px;
}

text.xaxis {
  text-anchor: middle;
}

.split-graph {
  float: left;
}

.ranking-list {
  float: left;
}

.splits-list {
  float: left;
}

rect.hover:hover {
  fill: orange;
  opacity: 0.5;
}

rect.negative {
  fill: url(#negative) #e00;
}

rect.positive {
  fill: url(#positive) #080;
}

.positive-start {
  stop-color:#b6ea46;
}

.positive-end {
  stop-color:#73c956;
}

.negative-start {
  stop-color:#f77422 
}

.negative-end {
  stop-color:#f7ba4a;
}

body {
  margin: 0px;
}

header {
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, #eee);
  height: 45px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  border-bottom: 1px solid #aaa;
}

header h3 {

  text-shadow: 1px 1px 0px white;
  position: absolute;
  left: 50%;
  top: 12px;
  line-height: 1em;
  margin: 2px 0 0 -150px;
  font-size: 18px;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
  width: 300px;
}

nav {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.leftnav {
  position: absolute;
  overflow: hidden;
  left: 6px;
  right: auto;
  top: 8px;
  line-height: 30px;
  padding: 0 3px;
  width: auto;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: darkorange
}

.leftnav a {
  text-decoration: none;
  text-shadow: 1px 1px 0px white;
}

.leftnav a:hover {
  text-decoration: none;
  color: orange;
}

.rightnav {
  position: absolute;
  overflow: hidden;
  top: 8px;
  right: 6px;
  margin: 0;
  border-width: 0 5px;
  padding: 0 3px;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  color: darkorange;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  background: none;
}

.pull-right {
  display: inline-block;
  float: right;
}

footer {
  color: #aea78d;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.bodybox {
  background-color:white; 
  margin-top: 10px; 
  margin-bottom:10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.clear {
  clear:both;
}

li.list-header {
  color: black;
  font-weight: bold;
}

.event-list {
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  padding: 0px;
  float: left;
}

.event-list li:first-of-type {
  border-top: none;
}

.event-list li {
  list-style: none;
  border-top: 1px solid #aea78d;
  padding: 10px;
}

.event-list li:hover a {
  color:darkorange;
}

.event-list li:hover {
  background-color: rgba(174,167,141,0.25);
}

.event-list a {
  text-decoration: none;
  color: #333;
}

.event-list a:hover {
  text-decoration: underline;
  color: darkorange;
}

span.error {
  color: #f44;
}

.ranking-table {
  width: 100%;
}

.ranking-table tr {
  border-top: 1px solid #aea78d;
}

.ranking-table tr:first-of-type {
  border-top: none;
}

.ranking-table td {
  padding: 5px;
}

h3.list-header {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ffbf80;
}

ul {
  margin-top: 0px;
}

span.mute {
  color: #aea78d;
  font-size: 75%;
  display: inline-block;
  margin-left: 10px;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

span.date {
  color: #aea78d;
  font-size: 75%;
  display: inline-block;
  margin-right: 10px;
}

.split-entry {
  float: left;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.split-entry:hover {
  background-color: rgba(174,167,141,0.4) !important;
}

.split-entry-span {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 65px;
  display: inline-block;
  text-align: right;
}

div.split-entry:nth-of-type(even) {
  background-color: rgba(174,167,141,0);
}

div.split-entry:nth-of-type(odd) {
  background-color: rgba(174,167,141,0.2);
}

.badge {
  border-radius: 8px;
  background-color: #aaa;
  color: white;
  font-size: 75%;
  padding: 3px 5px 3px 5px;
  margin-left: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
}

ul.subnav {
 list-style: none;
 list-style-type:none;
 padding: 0px;
 margin-top: 10px;
 margin-bottom: 5px;
}

ul.subnav li {
 display: inline;
 padding: 0px;
 margin: 0px;
 float: left;
}

ul.subnav li a {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-size: 12px;
  font-weight: normal;
  padding: 2px;
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration:none;
  border-radius: 3px;
  border: 1px solid #eee;
}

ul.subnav li a.active {
  font-weight: thin;
  border: 1px solid darkorange;
  background-color: darkorange;
  color: white;
}

.row {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row label {
  display: inline-block;
  margin-right: 10px;
  width: 150px;
  text-align: right;
}

.row input {
  width: 550px;
}

.row textarea {
  width: 550px;
  height: 50px;
  white-space: nowrap
}

dl {
  margin: 20px;
}

dt {
  font-weight: bold;
}

.grid1 {
  float: left;
  width: 54px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid2 {
  float: left;
  width: 118px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid3 {
  float: left;
  width: 182px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid4 {
  float: left;
  width: 246px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid5 {
  float: left;
  width: 310px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid6 {
  float: left;
  width: 374px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid7 {
  float: left;
  width: 438px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid8 {
  float: left;
  width: 502px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid9 {
  float: left;
  width: 566px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid10 {
  float: left;
  width: 630px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid11 {
  float: left;
  width: 694px;
  margin-left: 5px;
  margin-right: 5px;
}

.grid12 {
  float: left;
  width: 754px;
  margin-left: 5px;
  margin-right: 5px;
}