/* -- bootstrap overrides -- */
.badge {
  background-color: #888;
  min-width: 40px;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 5px;
}

.text-muted {
  color: #aaa;
}

/* -- end of bootstrap overrides -- */


/* -- pace.js -- */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: darkorange;
  position: fixed;
  z-index: 2000;
  top: 51px;
  right: 100%;
  width: 100%;
  height: 3px;
}

/* -- end of pace.js -- */


/* -- list item view -- */

.ember-list-item-view {
  width: 100%;
}

/* -- end of list item view -- */


/* -- logo fun -- */

.logo-outer-circle {
  stroke: #777;
  stroke-width: 2px;
  fill: none;
}

.logo-inner-circle {
  fill: #777;
  stroke: none;
}

.logo-needle {
  fill: #777;
  stroke: none;
}

.north {
  fill: #f55;
}

/* -- end of logo fun -- */

.error-frequency-wrapper {
  position:absolute; 
  top:11px;
  width:50%;
  white-space:nowrap;
}

.nowrap {
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/* -- fix sized cols -- */

.col-fixed-20 {
  float: left;
  width: 20px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.col-fixed-50 {
  float: left;
  width: 50px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.ranking-list {
  list-style: none;
  float: left;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.ranking-list > li {
  min-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgba(174,167,141,0.5);
}

tr.split-details:hover {
  background-color: white;
}

a {
  color: darkorange;
}

.splits-list {
  margin: 5px;
  padding: 0px 5px 5px 5px;
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  width: 300px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

h4 {
  margin-top: 3px;
  margin-bottom: 15px;
}

.vgrid {
  shape-rendering: crispEdges;
}

.hgrid {
  shape-rendering: crispEdges;
}

.grid {
  shape-rendering: crispEdges;
}

.crisp {
  shape-rendering: crispEdges;
}

text {
  fill: black;
  font-size: 10px;
}

.h2h-graph text {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.split-graph text {
  text-anchor: end;
}

text.leg {
  text-anchor: end;
}

rect.leg:nth-child(odd) {
  fill: rgba(174,167,141,0.3);
}

rect.leg:nth-child(even) {
  fill: rgba(174,167,141,0.2);
}

rect.leg:hover {
  fill: rgba(174,167,141,0.4);
}

text.statusline {
  text-anchor: start;
  font-size: 14px;
}

text.xaxis {
  text-anchor: middle;
}

.split-graph {
  float: left;
}

.splits-list {
  float: left;
}

rect.hover:hover {
  fill: orange;
  opacity: 0.5;
}

rect.negative {
  fill: url(#negative) #e00;
}

rect.positive {
  fill: url(#positive) #080;
}

.positive-start {
  stop-color:#b6ea46;
}

.positive-end {
  stop-color:#73c956;
}

.negative-start {
  stop-color:#f77422 
}

.negative-end {
  stop-color:#f7ba4a;
}

body {
  padding-top: 70px;
  margin: 0px;
}

.navbar-default .navbar-nav > li > a.active {
  border-bottom: 4px solid darkorange;
  padding-bottom: 11px;
  color: black;
}

footer {
  color: #aea78d;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 8px;
  height: 40px;
  border-top: 1px solid #aaa;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, #eee);
}

.clear {
  clear:both;
}

li.list-header {
  color: black;
  font-weight: bold;
}

.limit-75 {
  display:inline-block; 
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis; 
  max-width:75%;
}

.event-list {
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  padding: 0px;
  float: left;
}

.event-list li:first-of-type {
  border-top: none;
}

.event-list li {
  list-style: none;
  border-top: 1px solid #aea78d;
  padding: 10px;
  position: relative;
}

.event-list li:hover a {
  color:darkorange;
}

.event-list li:hover {
  background-color: rgba(174,167,141,0.25);
}

.event-list a {
  text-decoration: none;
  color: #333;
}

.event-list a:hover {
  text-decoration: underline;
  color: darkorange;
}

.align-right {
  text-align: right;
}

ul.nav.nav-pills li a.active {
  background-color: darkorange;
  color: white;
}

ul.nav.nav-pills li {
  border-radius: 0px;
}

ul.nav.nav-pills {
  margin-bottom: 10px;
}

td.error {
  color: #f44;
}

span.error {
  color: #f44;
}

.ranking-table {
  width: 100%;
}

.ranking-table tr {
  border-top: 1px solid #aea78d;
}

.ranking-table tr:first-of-type {
  border-top: none;
}

.ranking-table td {
  padding: 5px;
}

span.text-muted {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

span.date {
  color: #aea78d;
  font-size: 75%;
  display: inline-block;
  margin-right: 10px;
}

.split-entry {
  float: left;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px solid #aea78d;
}

.split-entry-span {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 75px;
  display: inline-block;
  text-align: right;
}

.ember-list-view {
  overflow: auto;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
}

.slide-out {
  transition: all 0.2s ease-out;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

dl {
  margin: 20px;
}

dt {
  font-weight: bold;
}