
.grid1 {
  float: left;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid2 {
  float: left;
  width: 140px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid3 {
  float: left;
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid4 {
  float: left;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid5 {
  float: left;
  width: 380px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid6 {
  float: left;
  width: 460px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid7 {
  float: left;
  width: 540px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid8 {
  float: left;
  width: 620px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid9 {
  float: left;
  width: 700px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid10 {
  float: left;
  width: 780px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid11 {
  float: left;
  width: 860px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid12 {
  float: left;
  width: 940px;
  margin-left: 10px;
  margin-right: 10px;
}
