<div>{{ranking-list runners=model.runners runnerRoute='category.runner' action="runnerClicked"}}</div>

{{#if checkedRunners}}
<div>{{split-graph runners=controller.checkedRunners legs=legs legclick="onlegclick"}}</div>
{{/if}}