<div class="content bodybox">

<div class="grid12">
<h3 class="list-header">Kategorien</h3>
<ul class="event-list">
  {{#each categories}}
  <li {{action 'categoryClicked' id}}>
    {{#link-to 'event.categories' id}}
    {{id}} 
    {{/link-to}}
    <span class="mute">{{runners}} Teilnehmer</span>
  </li>
  {{/each}}
</ul>
</div>

<div style="clear:both"></div>
</div>