<header>
  <div class="content">
    <div class="breadcrumb">{{#link-to 'events'}}Events{{/link-to}} / {{#link-to 'event'}}Event{{/link-to}} / {{#link-to 'event.category'}}{{name}}{{/link-to}}
  </div>
</header>

<div class="content">
<div class="grid12">
{{outlet}}
</div>
</div>