 <div class="grid12">
  <ul class="event-list">
    {{#each event in model}}
	  <li {{action 'eventClicked' event.source event.id}}>
	    <span class="date">{{event.date}}</span>
	    {{#link-to 'event' event.source event.id}}{{event.name}}{{/link-to}}
	    <div class="pull-right">
  	    <span class="mute">{{event.map}}</span>
      </div>
    </li>
    {{/each}}
  </ul>
 </div>
 <div class="clear"></div>
