<h4>{{fullName}} ({{yearOfBirth}}) {{#link-to 'event.category.h2h' id}}Direktvergleich{{/link-to}}</h4>

<div style="clear:both"></div>

{{splits-list runner=model hover=controller.hoverleg splitHover="onleghover"}}