<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/simonwhitaker/github-fork-ribbon-css">Fork me on Github</a>
    </div>
</div>

{{outlet}}
