<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
			{{navbar-collapse}}
			
			<a class="navbar-brand" style="padding: 5px 10px" href="#">{{compass-logo}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'events' (query-params year="2015")}}2015{{/link-to}}</li>
	      <li>{{#link-to 'events' (query-params year="2014")}}2014{{/link-to}}</li>
	      <li>{{#link-to 'events' (query-params year="2013")}}2013{{/link-to}}</li>
	      <li>{{#link-to 'events' (query-params year="2012")}}2012{{/link-to}}</li>
	      <li>{{#link-to 'events' (query-params year="2011")}}2011{{/link-to}}</li>
	      <li>{{#link-to 'events' (query-params year="2010")}}2010{{/link-to}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
{{outlet}}
</div>

<footer>
 <div class="content center">
  created by Simon R&auml;ss - GPL v3.0
 </div>
</footer>