<header>
 <nav>
 	<h3>{{page-title}}</h3>
  <span class="leftnav">{{back-button}}</span>
  <span class="rightnav">{{outlet test}}</span>
 </nav>
</header>

{{outlet}}

<footer>
 <div class="content center">
  created by Simon R&auml;ss - Apache 2.0 licensed
 </div>
</footer>