<div class="content">
 <ul class="subnav">
  <li>{{#link-to 'event.categories'}}Kategorien{{/link-to}}</li>
  <li>{{#link-to 'event.courses'}}Bahnen{{/link-to}}</li>
  <li>{{#link-to 'event.legs'}}Strecken{{/link-to}}</li>
 </ul>
 <div class="clear"></div>
</div>

{{outlet}}
