<div>
<div class="content">
 <ul class="subnav">
  <li>{{#link-to 'categories'}}Kategorien{{/link-to}}</li>
  <li>{{#link-to 'courses'}}Bahnen{{/link-to}}</li>
  <li>{{#link-to 'legs'}}Strecken{{/link-to}}</li>
  <li>{{#link-to 'event.starttime-to-rank'}}Startzeit / Rang{{/link-to}}</li>
 </ul>
 <div class="clear"></div>
</div>
</div>

{{outlet}}
