<div class="content" style="margin-top: 20px; background-color:none">
 <div class="grid3">&nbsp;</div>
 <div class="grid6">
  <ul class="event-list">
    {{#each}}
	  <li {{action 'eventClicked' id}}>
	    <span class="date">{{date}}</span>
	    {{#link-to 'event' id}}{{name}}{{/link-to}}
	    <span class="mute">{{map}}</span>
    </li>
    {{/each}}
  </ul>
 </div>
 <div class="grid3">&nbsp;</div>
 <div style="clear:both"></div>
</div>